<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekcattle.mapper.lol.ServerMapper">

	<!--基础列 -->
	<sql id="Base_Column_List">
		id,name,network,serialnumber
	</sql>

	<!--根据Id查询 -->
	<select id="getServerById" resultType="Server" parameterType="Server">
		select
		<include refid="Base_Column_List" />
		from server where id=#{id}
	</select>

	<!--多条件查询 -->
	<select id="getServerByParams" resultType="Server"
		parameterType="Server">
		select
		<include refid="Base_Column_List" />
		from server
		where 1=1
		<if test="id != null"> and id=#{id}</if>
		<if test="name != null"> and name=#{name}</if>
		<if test="network != null"> and network=#{network}</if>
		<if test="serialnumber != null"> and serialnumber=#{serialnumber}</if>
	</select>

	<!--添加 -->	<insert id="addServer" parameterType="Server">		insert into server
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="name != null">name,</if>
			<if test="network != null">network,</if>
			<if test="serialnumber != null">serialnumber,</if>		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null ">#{id},</if>
			<if test="name != null ">#{name},</if>
			<if test="network != null ">#{network},</if>
			<if test="serialnumber != null ">#{serialnumber},</if>
		</trim>
	</insert>

	<!--根据Id修改 -->	<update id="updateServerById" parameterType="Server">		update server
		<set>
			<if test="name != null">name=#{name},</if>
			<if test="network != null">network=#{network},</if>
			<if test="serialnumber != null">serialnumber=#{serialnumber},</if>
		</set>
		where id=#{id}
	</update>

	<!--根据Id删除 -->	<delete id="deleteServerById" parameterType="Server"> delete from server		where id=#{id}
	</delete></mapper>