<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>发现页面</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="/video/style.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="/video/jquery.min.js" ></script>
        <script type="text/javascript" src="/video/slider.js" ></script>

    </head>
    <body>
        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed b-line">
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-search"></i>
                </a>
                <div class="aui-center">
                    <span class="aui-center-title">发现</span>
                </div>
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-friend"></i>
                </a>
            </header>
            <section class="aui-scrollView">
                <div class="m-slider" data-ydui-slider>
                    <div class="slider-wrapper">
                        <div class="slider-item">
                            <a href="javascript:;">
                                <img src="/video/banner.jpg" tppabs="http://www.17sucai.com/preview/1268063/2018-12-17/bean/images/banner.jpg">
                            </a>
                        </div>
                        <div class="slider-item">
                            <a href="javascript:;">
                                <img src="/video/banner.jpg" tppabs="http://www.17sucai.com/preview/1268063/2018-12-17/bean/images/banner.jpg">
                            </a>
                        </div>
                        <div class="slider-item">
                            <a href="javascript:;">
                                <img src="/video/banner.jpg" tppabs="http://www.17sucai.com/preview/1268063/2018-12-17/bean/images/banner.jpg">
                            </a>
                        </div>
                        <div class="slider-item">
                            <a href="javascript:;">
                                <img src="/video/banner.jpg" tppabs="http://www.17sucai.com/preview/1268063/2018-12-17/bean/images/banner.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="slider-pagination"></div>
                </div>
                <div class="divHeight b-line"></div>
                <div class="aui-image-text">
                    <a href="javascript:;" class="aui-flex b-line">
                        <div class="aui-shrink-img">
                            <img src="/video/icon-see-001.png" tppabs="http://www.17sucai.com/preview/1268063/2018-12-17/bean/images/icon-see-001.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h2>我的舞蹈</h2>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex b-line">
                        <div class="aui-shrink-img">
                            <img src="/video/icon-see-002.png" tppabs="http://www.17sucai.com/preview/1268063/2018-12-17/bean/images/icon-see-002.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h2>热门话题</h2>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex b-line">
                        <div class="aui-shrink-img">
                            <img src="/video/icon-see-003.png" tppabs="http://www.17sucai.com/preview/1268063/2018-12-17/bean/images/icon-see-003.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h2>精选教程</h2>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex b-line">
                        <div class="aui-shrink-img">
                            <img src="/video/icon-see-004.png" tppabs="http://www.17sucai.com/preview/1268063/2018-12-17/bean/images/icon-see-004.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h2>最新视频</h2>
                        </div>
                    </a>
                </div>
                <div class="divHeight b-line"></div>
                <div class="aui-list-theme">
                    <div class="aui-list-theme" >
                        <a class="aui-list-theme-item" th:each="video : ${list}">
                            <div class="aui-list-img"style="height:100px;">
                                <img th:src="${video.coverPicture}"  onclick="toPlay(this);" th:name="${video.id}" alt="" style="height:100px;">
                            </div>
                            <div class="aui-list-title">
                                <h3 th:text="${video.name}"></h3>
                                <div class="aui-flex">
                                    <div class="aui-flex-box">
                                        <!-- <i class="icon icon-will"></i>-->
                                        <span th:text="${video.size}"></span>
                                    </div>
                                    <div class="aui-list-right">
                                    <span>
                                        <img src="/video/user-logo-002.png" alt="">
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div style="height:60px"></div>
            </section>
            <footer class="aui-footer aui-footer-fixed">
                <a href="javascript:;" class="aui-tabBar-item">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-loan"></i>
                    </span>
                    <span class="aui-tabBar-item-text">首页</span>
                </a>
                <a href="javascript:;" class="aui-tabBar-item aui-tabBar-item-active">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-credit"></i>
                    </span>
                    <span class="aui-tabBar-item-text">发现</span>
                </a>
                <a href="javascript:;" class="aui-tabBar-item">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-meTo"></i>
                    </span>
                    <span class="aui-tabBar-item-text">视频</span>
                </a>
                <a href="javascript:;" class="aui-tabBar-item">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-my"></i>
                    </span>
                    <span class="aui-tabBar-item-text">我的</span>
                </a>
            </footer>
        </section>

    </body>
<script>

    function toPlay(that){
        var id = $(that).attr("name");
        window.location.href="/app/video/play.htm?id="+id;
    }

</script>
</html>
